# Visual Studio / Rider / IDE
.vs/
.vscode/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Unreal generated folders
Binaries/
Build/*
!Build/**/*.ico
DerivedDataCache/
Intermediate/
Saved/

# Plugin generated folders
Plugins/*/Binaries/
Plugins/*/Intermediate/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Optional: generated project files
*.xcodeproj
*.xcworkspace